/* Css Border width  */
p.one{
   border-style: solid;
   border-width: 5px;
}

p.two{
   border-style: solid;
   border-width: medium;
}

p.three{
   border-style: solid;
   border-width: 1px;
}

p{
   border-top-style: dotted;
   border-right-style: solid;
   border-bottom-style: dotted;
   border-left-style: solid;
}


p{
   border-style: dotted solid double dashed;
}

 /* Border Radius */
p{
   /* border: 2px solid red; */
   border-radius: 5px;
}

/* Css Margin */
p.one{
   border: 2px solid orange;
   margin-left: 30px;
}
